* {margin:0; padding:0;}

html {
	font: 90%/1.3 arial,sans-serif;
	padding:1em;
	background:#fafafa;
}


fieldset {
  margin:1em 0;
}

fieldset div {
  margin:0.3em 0;
  clear:both;
}

#buttons {
  clear:both;
}

label {
	float:left;
	width:10em;
	text-align:right;
	margin-right:1em;
}

legend {
	color:#0b77b7;
	font-size:1.2em;
}

legend span {
	width:10em;
	text-align:right;
}

input {
	padding:0.15em;
	width:15em;
	border:1px solid #ddd;
	background:#fafafa;
	font:bold 0.95em arial, sans-serif;
	-moz-border-radius:0.4em;
	-khtml-border-radius:0.4em;
}

input:hover, input:focus {
	border-color:#c5c5c5;
	background:#f6f6f6;
} 

fieldset {
	border:1px solid #ddd;
	padding:0 0.5em 0.5em;
}

.radio label {
	font-size:1em;
	color:#000;
}

.radio div label, .radio div input {
	vertical-align:middle;
	display:inline;
	float:none;
	width:auto;
	background:none;
	border:none;
}

.radio div {
	float:left;
	white-space:nowrap;
	clear:none;
}

input.default {
	color:#bbb;
}

