body {
	font: normal 16px verdana,arial,'Bitstream Vera Sans',helvetica,sans-serif;
}

a { text-decoration: none; }

#tinc a:hover {
	text-decoration:underline;
	cursor:pointer;
}

#tinc ul { margin:0.5em 1em; }
#tinc li { margin:0.5em; }

#tinc > div {
	float:left;
	padding: 1% 1%;
}

#nodogsplash .nds_mac {
  color:blue;
}
