body {
	font: normal 16px verdana,arial,'Bitstream Vera Sans',helvetica,sans-serif;
}

a { text-decoration: none; }

#tinc a:hover {
	text-decoration:underline;
	cursor:pointer;
}

#tinc ul { margin:0.5em 1em; }
#tinc li { margin:0.5em; }

#tinc > div {
	float:left;
	padding: 1% 1%;
}

#tinc div.fakefile {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}

#tinc input.file {
	position: relative;
	text-align: right;
	-moz-opacity:0 ;
	filter:alpha(opacity: 0);
	opacity: 0;
	z-index: 2;

    left: -11em;
}

#nodogsplash .nds_mac {
  color:blue;
}
