div#body {
width: 100%;
text-align: center;
}
div#maincontent{
margin-left: auto;
	margin-right: auto;
width: 600px;
font-family: Arial, Verdana, sans-serif;
font-size: 12pt;
text-align: left;
}
div#maincontent a, a:link, a:visited {
color: #464646;
text-decoration: none;
} 

div#buttons{
width: 100%;
text-align: center;
}
a.button {
border: 1px solid black;
background-color: #E5E5E5;
padding: 5px;
color: black;
font-weight: bold;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}
a.button:hover {
border: 1px solid black;
background-color: grey;
}
div#logo {
height: 125px;
font-size: 24px;
}
img.logo { 
float: left;
padding: 5px;
}
